<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Đường Minh Hưng</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="list" class="nav-link">Category</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add</a>
      </li>
      <li class="nav-item">
        <a routerLink="update" class="nav-link">Update</a>
      </li>
      <li class="nav-item">
        <a routerLink="delete" class="nav-link">Delete</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>